.card{
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
}

.description{
    width: 200px;
    height: 70px;
    overflow: hidden;
    margin: 2px;
}

@media only screen and (max-width: 600px){
    .card{
        width: 8rem;
    }

    .description{
        width: 100px; 
        height: 50px;
    }
}