@media only screen and (max-width: 600px) {
    .navbar{display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;}

    .mr-auto{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .search{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
       justify-content: space-around;
    }

    .mr-sm-2{
        margin-right: 15px;
    }

}